body {
    background-color: lightgray;
}
	.container{
    max-width:1140px;
	margin-left:auto;
	margin-right:auto;
}

.slideshow{
    position: relative;
    display:flex;
    flex-direction: column;
    justify-content: center;
}

#mountain{
    width:100%;
}

.slide-back{
    position: absolute;
    left:6px;
}

.slide-next{
    position: absolute;
    right:6px;
}

